page-countrydetail {


    .img{
  
        width: auto;
        max-width: 100%;
        float: right;
        height: auto;
        max-height: 100%;}
        
    .recoverd{
        color: green;
      
        font-weight: bolder;
        
    }
    .active{
        color:gray;
      
        font-weight: bolder;    
    }
    .death{
        color: red;
      
        font-weight: bolder;
    }
    .critical{
        color: yellowgreen;
      
        font-weight: bolder;
    }

    .infotext{
        font-size:20px;
       
        align-content: center;
    }

    .content{
        background-color: #FFE53B;
        background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
         
    }
    .badge{
        width: 10px;
        height: 10px;
      }
      .abouttext{
    
        font-size: 10px;
        font-weight: normal;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
   
}
