<!--
  Generated template for the DishdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='navbarColor'>
    <ion-title>Stay Safe <img class="img" (click)="sendShare()" item-right src="assets/imgs/mask.png" alt="share">
    </ion-title>
    <div *ngIf="staysafe">
      <p *ngIf="staysafe.updatelink2"> New Update available click: <a href='{{staysafe.updatelink2}}'>Here </a>
      </p>
    </div>
  </ion-navbar>
</ion-header>
<ion-content class="content">
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-12 col-lg-6>
        <ion-buttons end>
          <h6>Locate on map</h6>
          <a href='http://maps.google.com/?q={{country.countryInfo.lat}},{{country.countryInfo.long}}'>
            <span class="badge">
              <img src="assets/imgs/map.png" alt="locate on Map">
            </span>
          </a>
        </ion-buttons>
        <ion-card *ngIf="country">
          <ion-card-content>
            <ion-card-title>
              {{country.country}}
              <p>{{date}} Time: {{time}} Continent :{{country.continent}}</p>
              <img src={{country.countryInfo.flag}} />
            </ion-card-title>
            <div class="infotext"> Total Cases:{{country.cases | number}}
              <br> Total Cases Today: {{country.todayCases | number}}
              <br> Recovered: <span class="recoverd"> {{country.recovered | number}}</span>
              <br> Active Cases: <span class="active"> {{country.active | number}}</span>
              <br> Total Deaths: <span class="death">{{country.deaths | number}}</span>
              <br> Total Deaths Today: <span class="death">{{country.todayDeaths | number}}</span>
              <br> Critical <span class="critical">{{country.critical | number}}</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>