page-home {

    .r{
background-color: #4dff88;

    }

    .d{
background-color:#ff1a1a;

    }

    .g{

        background-color: #4dffff;
    }
   
   
.swiper-slide {
        overflow-y: scroll;    
        display: block;    
}
   
.card-c{
   font-size: 16px; 
}
.know{
    padding: 6px;
    color:white;
font-size: 23px;

}
.green{
    color: green;
}
.red{
    color: #ff1a1a;
}
.white{
    color:white; 
}

.sd{
    width:90%;
    margin: auto;

}


.badge{
    width: 10px;
    height: 10px;
  }
  .abouttext{
    
    font-size: 10px;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


.content{
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    }

}
.yellow{
    color: lightcoral;
}
.rg{
    padding: 4%;
}
.p{
    padding: 3%;
}
.img{
  
        width: auto;
        max-width: 100%;
        float: right;
        height: auto;
        max-height: 100%;

        .recoverd{
            color: green;
          
            font-weight: bolder;
            
        }
        .active{
            color:gray;
          
            font-weight: bolder;    
        }
        .death{
            color: red;
          
            font-weight: bolder;
        }
        .critical{
            color: yellowgreen;
          
            font-weight: bolder;
        }
    
        .infotext{
            font-size:20px;
           
            align-content: center;
        }
 
}