<ion-header>
  <ion-navbar color='navbarColor'>
    <ion-title>Stay Safe <img class="img" (click)="sendShare()" item-right src="assets/imgs/mask.png" alt="share">
    </ion-title>
    <div *ngIf="staysafe">
      <p *ngIf="staysafe.updatelink2"> New Update available click: <a href='{{staysafe.updatelink2}}'>Here </a>
      </p>
    </div>
  </ion-navbar>
</ion-header>
<ion-content [fullscreen]="true" class="content">
  <ion-slides pager="true" autoplay="6000">
    <ion-slide>
      <ion-buttons>
        <h6 class="white">NCDC Toll Free Number: 080097000010</h6>
        <a href="tel:+23480097000010">
          <span class="badge">
            <img src="assets/imgs/call.png" alt="locate on Map">
          </span>
        </a>
      </ion-buttons>
      <br>
      <h1 class="know">Know More About COVID-19 & How to Stay Safe <br>By Reading The W.H.O help Guide Below : </h1>
      <br>
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>
                <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1">Overview of Covid19</a>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <a href="https://www.who.int/health-topics/coronavirus#tab=tab_2">Prevention</a>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <a href="https://www.who.int/health-topics/coronavirus#tab=tab_3">Symptoms</a>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">Stay Safe</a>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <a href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses">Questions and answers</a>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <p class="white">Swipe left to continue</p>
      <h1 class="white rg">Region Specific Websites For COVID19</h1>
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>
                <a href="https://covid19.ncdc.gov.ng">NCDC Nigeria</a>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <a href="https://africacdc.org/covid-1">Africa CDC</a>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <a href="https://www.unicef.org/coronavirus/covid-19">UNICEF</a>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <h2 class="white"> COVID-19 Global Information</h2>
      <ion-grid>
        <ion-row *ngIf="info">
          <ion-col>
            <ion-card class="g">
              <ion-card-header>
                <ion-title>Cases</ion-title>
              </ion-card-header>
              <ion-card-content>
                <h1>{{info?.cases | number}}</h1>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="d">
              <ion-card-header>
                <ion-title class="white">Deaths</ion-title>
              </ion-card-header>
              <ion-card-content>
                <h1 class="white">{{info?.deaths | number}}</h1>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="r">
              <ion-card-header>
                <ion-title>Recovered</ion-title>
              </ion-card-header>
              <ion-card-content>
                <h1>{{info?.recovered | number}}</h1>
              </ion-card-content>
            </ion-card>
            <h1 class="white"> {{date}} Time: {{time}}</h1>
          </ion-col>
        </ion-row>
        <br>
        <br>
        <br>
        <div *ngIf="staysafe">
          <p *ngIf="staysafe.bannerurl2" class="white">{{staysafe.bannerurl2}}</p>
        </div>
        <div [hidden]="info || errMess">
          <ion-spinner></ion-spinner>
          <h4>Loading . . . Please Wait</h4>
        </div>
        <div *ngIf="errMess">
          <h2 class="red">Error (failed to load data) </h2>
          <p class="white">Restart the App <br> & Make sure a working data connection is available or contact the developer if the problem persisted </p>
        </div>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <h2 class="white">COVID-19 Cases By Continents</h2>
      <div *ngIf="continents">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-12 col-lg-6>
              <ion-card *ngFor="let continent of continents">
                <ion-card-content>
                  <ion-card-title>
                    {{continent.continent}}
                    <p>{{date}} Time: {{time}}</p>
                  </ion-card-title>
                  <div class="infotext"> Total Cases:{{continent.cases | number}}
                    <br> Total Cases Today: {{continent.todayCases | number}}
                    <br> Recovered: <span class="recoverd"> {{continent.recovered | number}}</span>
                    <br> Active Cases: <span class="active"> {{continent.active | number}}</span>
                    <br> Total Deaths: <span class="death">{{continent.deaths | number}}</span>
                    <br> Total Deaths Today: <span class="death">{{continent.todayDeaths | number}}</span>
                    <br> Critical <span class="critical">{{continent.critical | number}}</span>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div [hidden]="continents || errMess">
        <ion-spinner></ion-spinner>
        <h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
        <h2 class="red">Error (failed to load data) </h2>
        <p class="white">Restart the App <br> & Make sure You have a working data connection or contact the developer if the problem persisted </p>
      </div>
    </ion-slide>
    <ion-slide>
      <br>
      <ion-searchbar [(ngModel)]="term"></ion-searchbar>
      <p class="white">Click country name for more information</p>
      <div *ngIf="countries">
        <ion-grid>
          <ion-row>
            <ion-col col-12 col-sm-3 col-sm-4 *ngFor="let country of countries | filter:term">
              <ion-card (click)="countrySelected($event, country)">
                <ion-card-title>{{country.country}}</ion-card-title>
                <ion-card-content>
                  <p class="yellow">{{date}} Time: {{time}} Continent :{{country.continent}}</p>
                  <p class="card-c"> Total Cases: {{country.cases | number}} | Today: {{country.todayCases | number}} | Active cases: {{country.active | number}}
                    <br> Deaths: {{country.deaths | number}} | Today: {{country.todayDeaths | number}}
                    <br> Recovered: {{country.recovered | number}} | Critical {{country.critical | number}}
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div [hidden]="countries || errMess">
        <ion-spinner></ion-spinner>
        <h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
        <h2 class="red">Error (failed to load data) </h2>
        <p class="white">Restart the App <br> & Make sure You have a working data connection or contact the developer if the problem persisted </p>
      </div>
    </ion-slide>
    <ion-slide>
      <h1 class="white">Stay Safe v 1.0.1 </h1>
      <br>
      <br>
      <p class="white p">Api source is www.Worldmeter.info <br>
      </p>
      <br>
      <br>
      <br>
      <div *ngIf="staysafe">
        <p class="white p" *ngIf="staysafe.discription2">{{staysafe.discription2}}</p>
      </div>
      <br>
      <br>
      <p class="white"> Developed by {{name}}</p>
      <div class="abouttext">
        <a href='{{email}}'>
          <span class="badge">
            <img src="assets/imgs/gmail.png" alt="Gmail">
          </span>
        </a>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>